.git
.pnpm-store/
node_modules/
.next
**/.next
**/dist
**/node_modules
**/node_modules/**
coverage
playwright-report
test-results
.env
.env.*
!.env.example
storage-data
postgres-data
redis-data
minio-data
